<!DOCTYPE html>
<html lang="en">
<head>
    <base href = '/'>
    <title>JGE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>   
        
    .panel {
      width: 100%;
      height: 110px;
      min-height: 50px;
    }

    .panel-group {
      margin: auto;
    }

    .panel-body {
      align-content: center;
      justify-content: center;
      position: relative;
      padding: 2px;
      size: 20%;
      height: 80px;
    }
        
    .panel-heading {
      size: 20%;
      height: 80px;
    }
        
    .edit-span {
      float: right;
    }
    </style> 
    
    
    
    <script>
      $(document).ready(function(){
        $("#company-button").click(function(){
            $("#company-modal").modal();
        });
      });
    </script>
</head>
    
<body>
    <nav class="navbar navbar-default navbar-fixed-top navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar">potato</span>
            <span class="icon-bar">tomato</span>
            <span class="icon-bar">asdf</span>                        
          </button>
            <div>
                <span class="navbar-brand" href="#">COMPANY PIC HERE</span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><span class="navbar-brand" href="#">NAVIGATION STUFF</span></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" >
                <li><span class="navbar-brand" href="#">UserName:<%=type%></span></li>
                <li><a class="btn btn-default btn-lg" href = '/logout' >Logout</a></li>
            </ul>
        </div>
      </div>
    </nav> 
    
    <!-- Modal -->
    <div class="modal fade" id="company-modal" role="dialog">
        <div class="modal-dialog">
        
        <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px; color: black; font-weight: bold;">
                <button type="button" class="close" data-dismiss="modal" style="size: 30px;">&times;</button>
                <span> Enter Company Details </span>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
                <form action = 'companyView' method="post">
                    <input type="text" class="form-control" name = 'company' placeholder="Enter Company Name" /> <br />
                    <input type="text" class="form-control" name = 'address' placeholder="Enter Company Address" /> <br />
                    <input type="text" class="form-control" name = 'person' placeholder="Enter Contact Person's Name" /> <br />
                    <input type="text" class="form-control" name = 'position' placeholder="Enter Contact Person's Position" /> <br />
                    <input type="text" class="form-control" name = 'details' placeholder="Enter Contact Person's Details" /> <br />
                    <input type="text" class="form-control" name = 'taxNumber' placeholder="Enter Company Tax Identification Number" /> <br />
                    <input type="submit" class="btn btn-success btn-block" value = 'Submit' style="background-color: skyblue" /> <br />
                 </form>
            </div>
          </div>
        </div>
      </div>
    
     <div class="container-fluid text-center">    
          <div class="main-header ">
                <div><h2>TEST</h2></div>
                <h1 style="font-size: 70px;">HOME PAGE STUFF</h1>
                <button type="button" class="btn btn-default btn-lg" id="company-button">NEW COMPANY</button>
          </div>
      </div>
    
    <div class="container bg-3" style="width: 1500px;">
        <% for(var i=0;i<data.list.length;i++){ %>
        <div class="row content">
            <div class="col-sm-2 sidenav">
            </div>
                <div class="col-sm-8 sidenav">
                    <div class="panel panel-default">
                        <div class="panel-heading">  
                            <div class="companies">
                                <span class = "lead"><h3 style="float: left">Company: <%= data.list[i].companyName %></h3></span>
                                <span class = "edit-span">
                                <a href="/editCompany/<%= data.list[i].companyName %>" class="glyphicon glyphicon-edit">
                                 Edit
                                </a></span>
                                <span class = "edit-span">
                                <a href="/deleteCompany/<%= data.list[i].companyName %>" class="glyphicon glyphicon-trash">
                                 Delete   ~
                                </a></span>
                            </div>   
                        </div>
                        <div class="panel-body">
                            <a href="/companyView/<%= data.list[i].companyName %>" type = "button" class = "btn btn-warning btn-xs btn-block" style="background-color: purple;" >View Company</a>            
                        </div> 
                    </div>
                </div>
            <div class="col-sm-2 sidenav">
            </div>
        </div>
        <% } %>
    </div>
  

</body>
</html>

